* {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

button {
    padding: 8px 36px;
    background-color: rgb(111, 81, 220);
    color: #fff;
    border-radius: 20px;
}

.container {
    display: grid;
    margin: 30px auto;
    width: 600px;
    height: 600px;
    border: 6px solid #000;
}

.square {
    background-color: rgb(215, 215, 215);
}

.squareHovered {
    background-color: rgb(0, 0, 0);
}